/* styles.css */

div {
    color: white;
    background-color: black;
    font-weight: 400;
  }

html {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  background-color: wheat;
  color: gray;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}

.header {
  margin: 50px;
  outline: 20px rgba(134, 17, 17, 0.63) groove;
  padding: 10px;
}

h2 {
  font-size: 24px;
}

.food {
  box-sizing: border-box;
  font-size: 20px;
  background-color: whitesmoke;
  font-weight: bold;
  border: 8px groove gray;
  padding: 5px;
  width: 140px;
  margin: 5px;
}

.intro {
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  box-sizing: border-box;
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 32px;
  padding: 30px;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tip  {
  background-color: goldenrod;
}

.outro {
  font-size: 24px;
  background-color: burlywood;
  color: darkolivegreen;
  text-align: center;
}