/* styles.css */

/* Sets all elements to have border-box type of box-sizing */
*,
*::before
*::after {
  box-sizing: border-box;
}

div {
    color: white;
    background-color: black;
    font-weight: 400;
  }

html {
  font-family: 'Courier New', Courier, monospace;
  background-color: whitesmoke;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}

h1 {
  background-color: wheat;
  color: gray;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.header {
  margin: 50px;
  outline: 20px rgba(134, 17, 17, 0.63) groove;
  padding: 10px;
}

h2 {
  font-size: 24px;
}

.food {
  font-size: 20px;
  background-color: whitesmoke;
  font-weight: bold;
  border: 8px groove gray;
  padding: 5px;
  max-width: 140px;
  margin: 5px;
  text-align: center;
}

.intro {
  box-sizing: border-box;
  background-color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  padding: 8px;
}

.title {
  background-color: wheat;
  font-weight: bold;
  font-size: 32px;
  padding: 30px;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tip  {
  background-color: burlywood;
  padding: 8px;
}

.outro {
  font-size: 24px;
  background-color: burlywood;
  color: black;
  text-align: center;
  padding: 8px;
}

.group {
  background-color: antiquewhite;
  color: black;
  padding: 8px;
  border: 8px groove rgba(134, 17, 17, 0.63);
  margin: 8px auto 8px;
  display: flex;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 40px;
  background-color: rgba(206, 206, 206, 0.85);
  padding: 0px 8px 0px;
}

.group .particle {
  flex: 1;
  color: black;
  background-color: antiquewhite;
  margin: 4px;
  text-align: center;
}

ul, ol {
  list-style-position: inside;
}
